<section ng-repeat="role in roles">
    <h4>{{role.title}}</h4>
    <fieldset>
        <label ng-repeat="role in role.roles">
            <input type="checkbox"
                   ng-checked="role.checked"
                   ng-model="role.checked"
                   ng-click="setCurrentUsersGrant(role)"
                   open-modal="test">{{role.title}}<br>
            <!--{{role}}-->
        </label>
    </fieldset>
</section>
<section data-modal="test">
    <header>
        Точно изменить права?
    </header>
    <footer>
        <button class="danger" ng-click="setUsersGrant()" close-modal="test">АГА</button>
        <button close-modal="test" ng-click="cancelUsersGrant()">ОТМЕНА</button>
    </footer>
</section>