<h4>{{user.firstName}} {{user.lastName}} ({{user.role}})</h4>
<fieldset>
    <label ng-repeat="role in roles">
        <input type="radio" name="roles" ng-checked="user.role == role.title" ng-click="setUserRole(role.title)">
        {{role.title}}<br>
    </label>
</fieldset>
<br><br>
<a ng-click="setUserRole(user.role)">Сбросить права</a>
<hr>
<label>
    Домашняя директория:<br>
    <input type="text" placeholder="Путь" ng-model="user.path" ng-value="user.path" ng-keyup="setUserPath($event)"
           ng-blur="setUserPath($event)">
</label>
<br>
<label ng-repeat="userGrant in user.userRoles">
    <input type="checkbox" ng-checked="userGrant.checked" ng-model="userGrant.checked" ng-click="setUserGrant(userGrant)">
    {{userGrant.title}}<br>
</label>
<button open-modal="new-user" ng-click="setModalParam('Редактировать пользователя', user, 'update')">Редактировать</button>
<button ng-show="user.enabled" ng-click="user.enabled = true; updateUser()">Заблокировать</button>
<button ng-hide="user.enabled" ng-click="user.enabled = false; updateUser()">Разблокировать</button>