<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- Security -->
	<http auto-config="true" use-expressions="true">
		 <!--<intercept-url pattern="/view/incoming" access="isAuthenticated()" />

		<intercept-url pattern="/view/outgoing" access="isAuthenticated()" />
        <intercept-url pattern="/view/statistic" access="isAuthenticated()" />-->


        <!--<intercept-url pattern="/add" access="hasRole('ROLE_USER')" />
        <intercept-url pattern="/waybill" access="hasRole('ROLE_USER')" />


        manager
		
		<intercept-url pattern="/taskdelete/*" access="hasRole('ROLE_USER')" />-->
        <intercept-url pattern="/admin/*" access="isAuthenticated()" />

		<anonymous username="guest" granted-authority="hasRole('ROLE_ANONYMOUS')" />

		<form-login login-page="/login" default-target-url="/redirect"
			authentication-failure-url="/login?error=true" />
		<logout logout-url="/logout" logout-success-url="/" />


        <session-management>
            <concurrency-control session-registry-alias="sessionRegistry"/>
        </session-management>

	</http>




	<!-- UserDetailService -->
	<authentication-manager>
		<authentication-provider user-service-ref="userDetailsService">
			<password-encoder hash="md5" />
		</authentication-provider>
	</authentication-manager>



</beans:beans>