<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- Security -->
	<http auto-config="true" use-expressions="true">

        <intercept-url pattern="/admin/*" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/assistant/*" access="hasRole('ROLE_ASSISTANT')" />
        <intercept-url pattern="/storekeeper/*" access="hasRole('ROLE_STOREKEEPER')" />
        <intercept-url pattern="/recipe/*" access="hasRole('ROLE_SUPERMANAGER')" />
        <intercept-url pattern="/item/*" access="hasRole('ROLE_SUPERMANAGER')" />

        <intercept-url pattern="/manager/*" access="hasAnyRole('ROLE_MANAGER', 'ROLE_SUPERMANAGER')" />

        <intercept-url pattern="/" access="isAuthenticated()" />

		<anonymous username="guest" granted-authority="hasRole('ROLE_ANONYMOUS')" />



		<form-login login-page="/login"  default-target-url="/redirect" always-use-default-target="true"
			authentication-failure-url="/login?error=true" />
        <logout logout-url="/logout" logout-success-url="/" invalidate-session="true" delete-cookies="true"/>


        <session-management>
            <concurrency-control session-registry-alias="sessionRegistry"/>
        </session-management>

	</http>




	<!-- UserDetailService -->
	<authentication-manager>
		<authentication-provider user-service-ref="userDetailsService">
			<password-encoder hash="md5" />
		</authentication-provider>
	</authentication-manager>



</beans:beans>