<section class="row">
    <section class="column">
        <nav class="main inverse">
            <ul>
                <li class="nohover">{{manager.name}} (Менеджер)</li>
            </ul>
            <ul data-float="right">
                <li open-modal="factorEdit" ng-click="selectedDensity = {}" style="cursor: pointer">Добавить формулу</li>
                <li ng-show="manager.recipe">
                    <a href="">Рецепты</a>
                </li>
                <li ng-show="manager.density">
                    <a href="#/manager">Главное окно</a>
                </li>
                <li><a href="/#logout">Выход</a></li>
            </ul>
        </nav>
    </section>
</section>
<section class="row">
    <section class="column">
        <h2>Формулы</h2>

        <table ng-init="getDensity()" class="strip hover">
            <tr>
                <th>Компонент</th>
                <th>Исходная еденица измерения</th>
                <th>Коэффициент</th>
                <th>Получаемая еденица измерения</th>
            </tr>
            <tr ng-repeat="item in density">
                <td>{{item.name}}</td>
                <td>{{item.source}}</td>
                <td open-modal="factorEdit" ng-click="setSelectedDensity(item)">{{item.density}}</td>
                <td>{{item.measure}}</td>
            </tr>
        </table>
    </section>
</section>


<section data-modal="factorEdit" class="success">
    <header>Формула</header>
    <section>
        <form data-float="center" style="margin-bottom: 0">
            <fieldset class="vertical">
                <label>
                    <span>Название</span>
                    <input placeholder="Название" ng-model="selectedDensity.name">
                </label>
                <label>
                    <span>Исходное измерение</span>
                    <input placeholder="Исходное измерение" ng-model="selectedDensity.source">
                </label>
            </fieldset>
            <fieldset class="vertical">
                <label>
                    <span>Коэффициент</span>
                    <input placeholder="Коэффициент" ng-model="selectedDensity.density">
                </label>
                <label>
                    <span>Получаемое измерение</span>
                    <input placeholder="Получаемое измерение" ng-model="selectedDensity.measure">
                </label>
            </fieldset>
        </form>
    </section>
    <footer>
        <button ng-click="setDensity()" close-modal="factorEdit">Сохранить</button>
        <input type="button" value="Отмена" close-modal="factorEdit">
    </footer>
</section>