<header>
    <h2>Заказ №{{order.number}} от {{order.date}}</h2>
    <!--<button ng-if="order.deferred == false" open-modal="cancelOrder">Отложить</button>-->
    <button ng-if="order.deferred == true" open-modal="backOrder">Вернуть</button>
    <button open-modal="addingComment">Добавить комментарий</button>
    <progress value="{{order.status}}" max="100"></progress>
    <h4>Заказ выполнен на {{order.status}}%</h4>
</header>

<table class="border horizontal hover" ng-show="order.components.laboratory.length > 0">
    <caption>
        <h3>Лаборатория</h3>
    </caption>
    <tr>
        <th>Код</th>
        <th>Товар (услуга/работа)</th>
        <th>Количество</th>
        <th>Комментарий</th>
        <th ng-if="!order.deferred">Статус</th>
    </tr>
    <tr ng-repeat="component in order.components.laboratory"
        ng-class="component.ready ? 'success' : 'warning'">
        <td ng-bind="component.code"></td>
        <td ng-bind="component.title"></td>
        <td ng-bind="component.quantity"></td>
        <td ng-bind="component.comment"></td>
        <td ng-if="component.ready && !order.deferred">Готово</td>
        <td ng-if="order.deferred == false">
            <button open-modal="cancelItem" ng-click="setSelectedComponent(component)">Отложить</button>
        </td>
        <td ng-if="order.deferred == true"></td>
    </tr>
</table>

<table class="border horizontal hover" ng-show="order.components.warehouse.length > 0">
    <caption>
        <h3>Склад</h3>
    </caption>
    <tr>
        <th>Код</th>
        <th>Товар (услуга/работа)</th>
        <th>Количество</th>
        <th>Комментарий</th>
        <th ng-if="!order.deferred">Статус</th>
    </tr>
    <tr ng-repeat="component in order.components.warehouse"
        ng-class="component.ready ? 'success' : 'warning'">
        <td ng-bind="component.code"></td>
        <td ng-bind="component.title"></td>
        <td ng-bind="component.quantity"></td>
        <td ng-bind="component.comment"></td>
        <td ng-if="component.ready && !order.deferred">Готово</td>
        <td ng-if="order.deferred == false">
            <button open-modal="cancelItem" ng-click="setSelectedComponent(component)">Отложить</button>
        </td>
        <td ng-if="order.deferred == true"></td>
    </tr>
</table>
<section class="panel" ng-if="order.comment">
    <header>Комментарий к заказу</header>
    <section>{{order.comment}}</section>
</section>

<section data-modal="cancelOrder" class="danger">
    <header>
        Вы действительно хотите отложить заказ №{{order.number}} ?
    </header>
    <footer>
        <button close-modal="cancelOrder">Отмена</button>
        <button close-modal="cancelOrder" ng-click="setOrderDeferred()">ХОРОШО</button>
    </footer>
</section>

<section data-modal="addingComment">
    <header>
        Вы сами так захотели!
    </header>
    <section>
        <textarea class="column" placeholder="Текст комменатрия" ng-model="order.comment"></textarea>
    </section>
    <footer>
        <button close-modal="addingComment">Отмена</button>
        <button close-modal="addingComment" ng-click="setOrderComment()">ХОРОШО</button>
    </footer>
</section>

<section data-modal="backOrder" class="danger">
    <header>
        Вы действительно хотите вернуть заказ №{{order.number}} ?
    </header>
    <footer>
        <button close-modal="backOrder">Отмена</button>
        <button close-modal="backOrder" ng-click="setOrderDeferred()">ХОРОШО</button>
    </footer>
</section>

<section data-modal="cancelItem" class="danger">
    <header>
        Вы действительно хотите отложить позицию заказа с кодом {{selectedComponent.code}} ?
    </header>
    <footer>
        <button close-modal="cancelItem">Отмена</button>
        <button close-modal="cancelItem" ng-click="setComponentDeferred()">ХОРОШО</button>
    </footer>
</section>