<table class="border hover horizontal">
    <tr>
        <th ng-click="orderByField = 'priority'; reverseSort = !reverseSort">
            <span ng-show="orderByField == 'priority'">
                <i class="fa" ng-class="reverseSort ? 'fa-sort-down' : 'fa-sort-up'"></i>
            </span>
        </th>
        <th ng-click="orderByField = 'customer'; reverseSort = !reverseSort">
            <b>Клиент</b>
            <span ng-show="orderByField == 'customer'">
                <i class="fa" ng-class="reverseSort ? 'fa-sort-down' : 'fa-sort-up'"></i>
            </span>
        </th>
        <th ng-click="orderByField = 'date'; reverseSort = !reverseSort">
            <b>Заказ</b>
            <span ng-show="orderByField == 'date'">
                <i class="fa" ng-class="reverseSort ? 'fa-sort-down' : 'fa-sort-up'"></i>
            </span>
        </th>
        <th>Статус</th>
    </tr>
    <tr ng-repeat="order in orders | orderBy:orderByField:reverseSort"
        ng-class="order.status == 100 ? 'success' : 'warning'"
        ng-click="getComponentsByOrder(order)"
        ng-if="deferred == order.deferred">
        <td ng-bind="order.priority" open-modal="priorityModal"></td>
        <td ng-bind="order.customer"></td>
        <td ng-bind="order.date"></td>
        <td ng-bind="order.status + '%'"></td>
    </tr>
</table>

<section data-modal="priorityModal" class="no-padding">
    <header>Изменение приоритета для заказа №{{order.number}}</header>
    <section ng-init="priority = 0">
        <label>Текущий преоритет <b>{{order.priority}}</b></label>
        <input type="number" placeholder="приоритет" ng-model="priority" class="column">
    </section>
    <footer>
        <button ng-click="updatePriority(priority)" close-modal="priorityModal">Сохранить</button>
        <button ng-click="priority = 0" close-modal="priorityModal">Отмена</button>
    </footer>
</section>