<table class="border hover horizontal">
    <tr>
        <td style="width: 20px;"
            ng-click="orderByField='priority'; reverseSort = !reverseSort">
            P
        </td>
        <td ng-click="orderByField='customer'; reverseSort = !reverseSort" style="width: 45%">
            Клиент
					<span ng-show="orderByField == 'customer'">
						<i class="fa" ng-class="reverseSort ? 'fa-sort-down' : 'fa-sort-up'"></i>
					</span>
        </td>
        <td ng-click="orderByField='number'; reverseSort = !reverseSort" style="width: 50px">
            Заказ
					<span ng-show="orderByField == 'number'">
						<i class="fa" ng-class="reverseSort ? 'fa-sort-down' : 'fa-sort-up'"></i>
					</span>
        </td>
        <td ng-click="orderByField='date'; reverseSort = !reverseSort">
            Дата и время
					<span ng-show="orderByField == 'date'">
						<i class="fa" ng-class="reverseSort ? 'fa-sort-down' : 'fa-sort-up'"></i>
					</span>
        </td>
        <td ng-click="orderByField='status'; reverseSort = !reverseSort">
            Статус
					<span ng-show="orderByField == 'status'">
						<i class="fa" ng-class="reverseSort ? 'fa-sort-down' : 'fa-sort-up'"></i>
					</span>
        </td>
    </tr>
</table>
<section class="scrollable">
    <table class="border hover horizontal" ng-init="getOrders()">
        <tr ng-repeat="order in orders | orderBy:orderByField:reverseSort | filter: query"
            ng-click="getOrderById($index, order.id)"
            ng-class="order.status == 100 ? 'success' : order.status <= 25 ? 'danger' : 'warning'"
            ng-show="deferred == order.deferred">
            <td style="width: 20px;" open-modal="priority" ng-click="setSelectedOrder($index, order)">
                <span style="cursor: pointer; pointer-events: none">{{order.priority}}</span>
            </td>
            <td style="width: 47%">
                {{order.customer}}
            </td>
            <td style="width: 50px">{{order.number}}</td>
            <td>{{order.date}}</td>
            <td>{{order.status}}%</td>
        </tr>
    </table>
</section>

<section data-modal="priority" class="no-padding">
    <header>Изменение приоритета для заказа №{{selectedOrder.number}}</header>
    <section>
        <input type="number" placeholder="приоритет" ng-model="selectedOrder.priority" class="column">
    </section>
    <footer>
        <button ng-click="updatePriority()" close-modal="priority">Сохранить</button>
        <button ng-click="cancelPriority()" close-modal="priority">Отмена</button>
    </footer>
</section>