<section class="row" ng-init="getManagerInfo()">
    <section class="column">
        <nav class="main inverse">
            <ul>
                <li class="nohover">{{manager.name}} (Менеджер)</li>
            </ul>
            <ul data-float="right">
                <li open-modal="recipeModal" ng-click="setSelectedRecipe(null)" style="cursor: pointer">Добавить
                    рецепт
                </li>
                <li ng-show="manager.density">
                    <a href="#/density">Формулы</a>
                </li>
                <li ng-show="manager.density">
                    <a href="#/manager">Главное окно</a>
                </li>
                <li><a href="/#logout">Выход</a></li>
            </ul>
        </nav>
    </section>
</section>
<section class="row">
    <section class="column">
        <h2>Рецепты</h2>
        <input type="text" placeholder="Начните вводить имя рецепта" ng-model="exp1" ng-keyup="getRecipes(exp1)" class="column">

        <table ng-show="exp1" ng-init="getRecipes(exp1)" class="hover border horizontal">
            <tr ng-repeat-start="recipe in recipes" class="success" ng-init="recipeIndex = $index">
                <td colspan="2">
                    <b>{{recipe.name}}</b>
                </td>
                <td>
                    <a href="" open-modal="recipeModal" ng-click="setSelectedRecipe(recipe)">Редактировать рецепт</a> |
                    <a href=""
                       open-modal="confirmModal"
                       ng-click="setConfirm('removeRecipe(' + $index + ', ' + recipe.id + ')')">Удалить рецепт</a>
                </td>
            </tr>
            <tr ng-repeat-end="" ng-repeat="component in recipe.components" class="warning">
                <td>
                    <i>{{component.item.name}}</i>
                </td>
                <td>
                    <i>{{component.quantity}}г</i>
                </td>
                <td>
                    <a href=""
                       open-modal="confirmModal"
                       ng-click="setConfirm('removeComponent(' + $index + ', ' + component.id + ', ' + recipeIndex + ')')">Удалить
                        компонент</a>
                </td>
            </tr>
        </table>
    </section>
</section>


<section data-modal="recipeModal">
    <header ng-if="currentAction == 'update'">
        Редактировать рецепт <b>"{{selectedRecipe.name}}"</b>
    </header>
    <header ng-if="currentAction == 'create'">
        Добавить рецепт
    </header>
    <section>
        <input type="text" ng-model="selectedRecipe.name" placeholder="Название рецепта" class="column">
        <table class="border">
            <tr>
                <th>Название компонента</th>
                <th>Количество</th>
                <th>{{action}}</th>
            </tr>
            <tr ng-repeat="component in selectedRecipe.components">
                <td>{{component.item.name}}</td>
                <td width="120">{{component.quantity}}</td>
                <td class="no-padding" width="20">
                    <input type="button" value="-"
                           open-modal="confirmModal"
                           ng-click="setConfirm('removeComponentIn(' + $index + ')')"
                           class="no-border no-margin" style="cursor: pointer">
                </td>
            </tr>
            <tr>
                <td class="no-padding" ng-init="getComponents('б')">

                    <input type="text"
                           placeholder="Начните вводить имя компонента"
                           ng-model="GGG"
                           ng-keyup="getComponents(GGG)">
                    <!--<datalist id="component">-->
                    <select ng-model="selectedItem"
                            ng-options="component as component.name for component in components"></select>
                    <!--<pre>{{selectedItem | json}}</pre>-->
                    <!--</datalist>-->

                    <!--
                                        <select ng-model="selectedItem1"
                                                ng-init="getComponents('б')"
                                                ng-options="components as component.name for component in components">{{component.name}}
                                            &lt;!&ndash;&ndash;&gt;
                    </select>
                    <pre>1{{selectedItem | json}}</pre>-->

                    <!--

                                        <select ng-model="selectedItem" ng-options="item as item.name for item in items"></select>
                                        <pre>{{selectedItem | json}}</pre>

                                        <select ng-model="components[0]"
                                                ng-init="getComponents('б')"
                                                ng-options="components as component.name for component in components"
                                                ng-change="setCurrentComponent(component)">{{component.name}}
                                            &lt;!&ndash;<option ng-repeat="component in components">{{component.name}}</option>&ndash;&gt;
                    </select>
-->

                    <!--<input type="text" placeholder="Начните вводить имя компонента" list="component"
                           class="no-margin no-border column"
                           ng-model="component.name" ng-keyup="getComponents(component.name)">
                    <datalist id="component"
                              ng-init="getComponents(component.name)">
                        <option ng-repeat="component in components" ng-init="setCurrentComponent('123')">{{component.name}}{{component.id}}</option>
                    </datalist>-->
                </td>
                <td class="no-padding" width="120">
                    <input type="number" placeholder="Количество компонента" class="no-margin no-border column"
                           ng-model="component.quantity">
                </td>
                <td class="no-padding" width="20">
                    <input type="button" value="+" ng-click="addComponent(selectedItem)"
                           class="no-border no-margin" style="cursor: pointer">
                </td>
            </tr>
        </table>
    </section>
    <footer ng-if="currentAction == 'update'">
        <input type="button" value="Сохранить" close-modal="recipeModal" ng-click="updateRecipe()">
    </footer>
    <footer ng-if="currentAction == 'create'">
        <input type="button" value="Добавить" close-modal="recipeModal"
               ng-disabled="selectedRecipe.name == undefined || selectedRecipe.name == ''"
               ng-click="addRecipe(selectedRecipe)">
    </footer>
</section>

<section data-modal="confirmModal">
    <header>Подтвердите действия?</header>
    <footer>
        <input type="button" value="Да" ng-click="runConfirm()" close-modal="confirmModal">
        <input type="button" value="Нет" close-modal="confirmModal">
    </footer>
</section>