<section class="row" ng-init="getInfo()">
    <section class="column">
        <nav class="main inverse">
            <ul>
                <li class="nohover">{{storekeeper.name}} (Кладовщик)</li>
            </ul>
            <ul data-float="right">
                <li><a href="/logout">Выход</a></li>
            </ul>
        </nav>
    </section>
</section>
<section class="row" ng-init="getOrders()">
    <section class="column laptop-4">
        <section ng-include="'resources/views/storekeeper/orders.html'"></section>
    </section>
    <section class="column laptop-6" ng-include="'resources/views/storekeeper/order.html'">
    </section>
</section>
