<header>
    <h2>Заказ №{{order.number}} от {{order.date}}</h2>
    <progress value="{{order.status}}" max="100"></progress>
    <h4>Заказ выполнен на {{order.status}}%</h4>
</header>
<table class="border horizontal hover" ng-show="order.components.laboratory.length > 0">
    <caption>
        <h3>Лаборатория</h3>
    </caption>
    <tr>
        <th>Код</th>
        <th>Товар (услуга/работа)</th>
        <th>Количество</th>
        <th>Комментарий</th>
        <th>Статус</th>
    </tr>
    <tr ng-repeat-start="component in order.components.laboratory"
        ng-class="component.ready ? 'success' : 'warning'">
        <td ng-bind="component.code"></td>
        <td ng-bind="component.title"></td>
        <td ng-bind="component.quantity"></td>
        <td ng-bind="component.comment"></td>
        <td ng-show="component.ready == undefined">
            <button open-modal="changeStatus" ng-click="setSelectedComponent(component)">Изменить</button>
        </td>
        <td ng-show="component.ready">
            <button open-modal="changeStatus" ng-click="setSelectedComponent(component)">Готово</button>
        </td>
        <td ng-show="component.ready == false">
            <button open-modal="changeStatus" ng-click="setSelectedComponent(component)">Не&nbsp;готово</button>
        </td>
    </tr>
    <tr ng-repeat-end="" ng-repeat="item in component.components">
        <td></td>
        <td><i style="font-size: 12px">{{item.item.name}}</i></td>
        <td><i style="font-size: 12px">{{item.quantity}}</i></td>
        <td><i style="font-size: 12px">{{item.comment}}</i></td>
        <td></td>
    </tr>
</table>

<table class="border horizontal hover" ng-show="order.components.warehouse.length > 0">
    <caption>
        <h3>Склад</h3>
    </caption>
    <tr>
        <th>Код</th>
        <th>Товар (услуга/работа)</th>
        <th>Количество</th>
        <th>Комментарий</th>
    </tr>
    <tr ng-repeat="component in order.components.warehouse"
        ng-class="component.ready ? 'success' : component.ready != undefined ? 'danger' : 'warning'">
        <td ng-bind="component.code"></td>
        <td ng-bind="component.title"></td>
        <td ng-bind="component.quantity"></td>
        <td ng-bind="component.comment"></td>
    </tr>
</table>
<section class="panel" ng-if="order.comment">
    <header>Комментарий к заказу</header>
    <section>{{order.comment}}</section>
</section>

<section data-modal="changeStatus">
    <header>
        Вы действительно хотети изменить статус позиции в заказе №{{order.number}}?
    </header>
    <section ng-show="selectedComponent.ready">
        <form name="statusChange" novalidate>
               <textarea placeholder="Причина изменения статуса на не готовый"
                         ng-model="reasonStatus"
                         required
                         style="width: 100%"></textarea>
        </form>
    </section>
    <footer>
        <button close-modal="changeStatus">ЗАКРЫТЬ</button>
        <button close-modal="changeStatus"
                ng-hide="selectedComponent.ready" class="success"
                ng-click="setComponentStatus(true, '')">
            НАЙДЕНО
        </button>
        <button close-modal="changeStatus"
                ng-hide="selectedComponent.ready != undefined" class="danger"
                ng-click="setComponentStatus(false, '')">
            НЕ НАЙДЕНО
        </button>
        <button close-modal="changeStatus"
                ng-hide="!selectedComponent.ready" class="warning"
                ng-click="setComponentStatus(undefined, reasonStatus)"
                ng-disabled="statusChange.$invalid">
            ОК
        </button>
    </footer>
</section>




<!--
<hgroup>
    <h2>Заказ клиента №{{order.number}} от {{order.date}}
        <button>Печать</button>
    </h2>
    <progress value="{{order.status}}" max="100"></progress>
    <h4>Заказ выполнен на {{order.status}}%</h4>
    <span><small>Время создания заказа {{order.time}}</small></span>
</hgroup>
<h3>Лаборатория</h3>
<table class="border horizontal hover">
    <tr>
        <th>№</th>
        <th>Код</th>
        <th>Товар (услуга/работа)</th>
        <th>Количество</th>
        <th>Комментарий</th>
        <th>Статус</th>
    </tr>
    <tr ng-repeat="item in order.info"
        ng-class="item.type != 'component' ? item.ready ? 'success' : item.ready != undefined ? 'danger' : 'warning' : ''">
        <td>
            <small ng-show="item.type == 'component'">#</small>
            <span ng-show="item.type != 'component'">{{item.index}}</span>
        </td>
        <td>
            <small ng-show="item.type == 'component'">{{item.code}}</small>
            <span ng-show="item.type != 'component'">{{item.code}}</span>
        </td>
        <td>
            <small ng-show="item.type == 'component'">{{item.title}}</small>
            <span ng-show="item.type != 'component'">{{item.title}}</span>
        </td>
        <td>
            <small ng-show="item.type == 'component'">{{item.quantity}}</small>
            <span ng-show="item.type != 'component'">{{item.quantity}}</span>
        </td>
        <td>
            <small ng-show="item.type == 'component'">{{item.comment}}</small>
            <span ng-show="item.type != 'component'">{{item.comment}}</span>
        </td>
        <td>
            <button ng-hide="item.type == 'component'"
                    open-modal="changeStatus"
                    ng-click="setSelectedItem(item)">
                <span ng-show="item.ready == undefined">Изменить</span>
                <span ng-show="item.ready">Готово</span>
                <span ng-show="item.ready == false">Не&nbsp;готово</span>
            </button>
            <button ng-show="item.type == 'component'"
                    open-modal="showOrdersByComponent"
                    ng-click="getOrdersByItem(item)">Показать</button>
        </td>
    </tr>
</table>

<section class="panel" ng-if="order.info.description">
    <section>
        <p>{{order.info.description}}</p>
    </section>
</section>

<section data-modal="changeStatus">
    <header>
        Вы действительно хотети изменить статус позиции в заказе №{{order.number}}?
    </header>
    <section ng-show="selectedItem.ready">
        <form name="statusChange" novalidate>
               <textarea placeholder="Причина изменения статуса на не готовый"
                         ng-model="reasonStatus"
                         required
                         style="width: 100%"></textarea>
        </form>
    </section>
    <footer>
        <button close-modal="changeStatus">ЗАКРЫТЬ</button>
        <button close-modal="changeStatus"
                ng-hide="selectedItem.ready" class="success"
                ng-click="setItemStatus(true, '')">
            НАЙДЕНО
        </button>
        <button close-modal="changeStatus"
                ng-hide="selectedItem.ready != undefined" class="danger"
                ng-click="setItemStatus(false, '')">
            НЕ НАЙДЕНО
        </button>
        <button close-modal="changeStatus"
                ng-hide="!selectedItem.ready" class="warning"
                ng-click="setItemStatus(undefined, reasonStatus)"
                ng-disabled="statusChange.$invalid">
            ОК
        </button>
    </footer>
</section>

<section data-modal="showOrdersByComponent">
    <header>
        {{selectedItem.title}}
    </header>
    <section>
        <table class="border hover">
            <tr>
                <th>Номер заказа</th>
                <th>Дата заказа</th>
                <th>Количество</th>
            </tr>
            <tr ng-repeat="item in ordersByItem">
                <td>{{item.number}} <a href="" ng-click="getAssistantOrderById(0, item.number)" close-modal="showOrdersByComponent">открыть...</a></td>
                <td>{{item.datetime}}</td>
                <td>{{item.quantity}}</td>
            </tr>
        </table>
    </section>
    <footer>
        <button close-modal="showOrdersByComponent">ЗАКРЫТЬ</button>
    </footer>
</section>-->
